html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  /* include your font family and default line-height */
}

img {
  width: 45%;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em;
  grid-template-areas:
    "feature feature feature"
    "img2 img3 img4";

}

.feature {
    grid-area: feature;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}


.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Baskervville', serif;
}

ul {
  font-family: 'Baskervville', serif;
}

blockquote {
  display: grid;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

footer {
  text-align: center;
}


/* Default styling for all screens ends here */
@media only screen and (min-width: 38em) {

  .images {
    gridtemplate coloumns:
    grid-template-areas:
    "feature img2"
    "feature img3"
    "feature img4"
  }

}
/* Add media query for tablet */




/* Add media query for desktop */
